In [2]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:/Users/grayni/Desktop/tr_py/SQL/bigquery-362520-0ed0e93eb083.json'

In [3]:
from google.cloud import bigquery

In [4]:
client = bigquery.Client()

In [5]:
# Referece to the 'Hacker news' dataset
dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')

In [6]:
# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [7]:
# List all the tables in the 'hacker_news' dataset
tables = list(client.list_tables(dataset))

# 4 tables
tables

[<google.cloud.bigquery.table.TableListItem at 0x1d518b99fc0>,
 <google.cloud.bigquery.table.TableListItem at 0x1d5322c3eb0>,
 <google.cloud.bigquery.table.TableListItem at 0x1d5322c3ee0>,
 <google.cloud.bigquery.table.TableListItem at 0x1d5322c3c10>]

In [8]:
# Show every table -> .table_id
for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [9]:
# Reference to the  'full' table
table_ref = dataset_ref.table('full')

# API request - feth the table
table = client.get_table(table_ref)
table

Table(TableReference(DatasetReference('bigquery-public-data', 'hacker_news'), 'full'))

In [10]:
# Schema
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [11]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"At the end of the day, it&#x27;s about access ...",<NA>,dalfonso,<NA>,1496774844,2017-06-06 18:47:24+00:00,comment,14499954,14498853,<NA>,<NA>,<NA>
1,None,None,"In this case, Linux really does mean freedom.",<NA>,narrator,<NA>,1284277163,2010-09-12 07:39:23+00:00,comment,1683247,1683228,<NA>,<NA>,<NA>
2,None,None,I addressed that. Do you not appreciate that w...,<NA>,InclinedPlane,<NA>,1284277155,2010-09-12 07:39:15+00:00,comment,1683246,1682153,<NA>,<NA>,<NA>
3,None,None,haha i came here to post just that...<p>Java i...,<NA>,PhrosTT,<NA>,1284277082,2010-09-12 07:38:02+00:00,comment,1683245,1683236,<NA>,<NA>,<NA>
4,None,None,Orignal source:<p>Java Programmers are the Ero...,<NA>,elviejo,<NA>,1284277028,2010-09-12 07:37:08+00:00,comment,1683244,1683030,<NA>,<NA>,<NA>

In [19]:
# Show one column
client.list_rows(table, selected_fields=table.schema[4:5], max_results=5).to_dataframe()

              by
0       dalfonso
1       narrator
2  InclinedPlane
3        PhrosTT
4        elviejo