In [1]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:/Users/grayni/Desktop/tr_py/SQL/bigquery-362520-0ed0e93eb083.json'

In [3]:
from google.cloud import bigquery

In [5]:
# Create client object
client = bigquery.Client()

# Reference to the 'openaq' dataset
dataset_ref = client.dataset('openaq', project='bigquery-public-data')

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the 'openaq' dataset
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

global_air_quality

In [6]:
# Reference to the 'global_air_quality' table
table_ref = dataset_ref.table('global_air_quality')

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the 'global_air_quality' table
client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours,location_geom
0,"Borówiec, ul. Drapałka",Borówiec,PL,bc,0.85217,2022-04-28 07:00:00+00:00,µg/m³,GIOS,1.0,52.276794,17.074114,POINT(52.276794 1)
1,"Kraków, ul. Bulwarowa",Kraków,PL,bc,0.91284,2022-04-27 23:00:00+00:00,µg/m³,GIOS,1.0,50.069308,20.053492,POINT(50.069308 1)
2,"Płock, ul. Reja",Płock,PL,bc,1.41000,2022-03-30 04:00:00+00:00,µg/m³,GIOS,1.0,52.550938,19.709791,POINT(52.550938 1)
3,"Elbląg, ul. Bażyńskiego",Elbląg,PL,bc,0.33607,2022-05-03 13:00:00+00:00,µg/m³,GIOS,1.0,54.167847,19.410942,POINT(54.167847 1)
4,"Piastów, ul. Pułaskiego",Piastów,PL,bc,0.51000,2022-05-11 05:00:00+00:00,µg/m³,GIOS,1.0,52.191728,20.837489,POINT(52.191728 1)

#### 1

In [21]:
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [22]:
# Create client object
client = bigquery.Client()

In [23]:
# Set up the query
query_job = client.query(query)

In [26]:
# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

In [28]:
us_cities['city'].value_counts().head()

Phoenix-Mesa-Scottsdale                     39414
Los Angeles-Long Beach-Santa Ana            27479
Riverside-San Bernardino-Ontario            26887
New York-Northern New Jersey-Long Island    25417
San Francisco-Oakland-Fremont               22710
Name: city, dtype: int64

#### 2

In [31]:
query = """
        SELECT city, country
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [32]:
client = bigquery.Client()
query_job2 = client.query(query)

In [34]:
us_cities_2 = query_job2.to_dataframe()

In [35]:
us_cities_2['country'].value_counts().head()

US    1421351
Name: country, dtype: int64

#### 3

In [36]:
query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [38]:
client = bigquery.Client()
query_job3 = client.query(query)
us_source_name = query_job3.to_dataframe()

In [39]:
us_source_name['source_name'].value_counts().head()

AirNow                    1421207
Texas                         135
DEFRA                           4
Spartan                         4
Australia - Queensland          1
Name: source_name, dtype: int64