In [1]:
import pandas as pd
import numpy as np

In [2]:
a = [2, 5, 7, 8, 3]

In [3]:
b = pd.Series(a)

In [4]:
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

In [7]:
b = pd.Series(a, index=[3, 4, 2, 9, 'c'])
b

3    2
4    5
2    7
9    8
c    3
dtype: int64

In [8]:
from datetime import date

In [9]:
ind = [date(y, m, d) for y, m, d in [(2018, 1, 4), (2018, 1, 8), (2018, 1, 11), (2018, 1, 22), (2018, 1, 25)]]

In [10]:
b = pd.Series(a, index=ind)

In [11]:
b

2018-01-04    2
2018-01-08    5
2018-01-11    7
2018-01-22    8
2018-01-25    3
dtype: int64

In [12]:
b.index

Index([2018-01-04, 2018-01-08, 2018-01-11, 2018-01-22, 2018-01-25], dtype='object')

In [13]:
b.index[0]

datetime.date(2018, 1, 4)

In [15]:
b.index[0].month

1

In [16]:
b.index[0].day

4

In [17]:
b.index[0].year

2018

In [20]:
b.index = pd.to_datetime(b.index, format='%Y-%m-%d')

In [21]:
b.index

DatetimeIndex(['2018-01-04', '2018-01-08', '2018-01-11', '2018-01-22',
               '2018-01-25'],
              dtype='datetime64[ns]', freq=None)

In [22]:
b.index.year

Int64Index([2018, 2018, 2018, 2018, 2018], dtype='int64')

In [23]:
b = pd.Series(a, dtype=np.float64)
b

0    2.0
1    5.0
2    7.0
3    8.0
4    3.0
dtype: float64

In [25]:
b = b.astype(np.int64)

In [26]:
b

0    2
1    5
2    7
3    8
4    3
dtype: int64

In [27]:
d = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
d = pd.Series(d)

In [28]:
d

one      1
two      2
three    3
four     4
five     5
dtype: int64

In [29]:
b = pd.Series([1, 4, 2, 4, 3])
b

0    1
1    4
2    2
3    4
4    3
dtype: int64

In [30]:
b.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
b.values

array([1, 4, 2, 4, 3], dtype=int64)

In [32]:
b.head()

0    1
1    4
2    2
3    4
4    3
dtype: int64

In [34]:
b.head(3)

0    1
1    4
2    2
dtype: int64

In [35]:
b.tail()

0    1
1    4
2    2
3    4
4    3
dtype: int64

In [36]:
b.tail(2)

3    4
4    3
dtype: int64

In [37]:
b[b > 3]

1    4
3    4
dtype: int64

In [38]:
b[b > 3] = 2

In [39]:
b

0    1
1    2
2    2
3    2
4    3
dtype: int64

In [41]:
b = b.append(pd.Series({5:10, 6:11, 7:22, 8: 33}))
b

0     1
1     2
2     2
3     2
4     3
5    10
6    11
7    22
8    33
dtype: int64

In [42]:
b = b.drop([3, 5, 8])
b

0     1
1     2
2     2
4     3
6    11
7    22
dtype: int64

Запись Series в файл

In [44]:
b.to_pickle('series.pkl')

In [47]:
b2 = pd.read_pickle('series.pkl')
b2

0     1
1     2
2     2
4     3
6    11
7    22
dtype: int64