In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter
from matplotlib.ticker import StrMethodFormatter
import warnings

%matplotlib inline
#%config InlineBackend.figure_format = 'svg'
warnings.filterwarnings('ignore')

In [2]:
import os

for dirname, _, filenames in os.walk('input/'):
    for filename in filenames:
        print(f'./{dirname}/{filename}')

./input/real_estate_price_prediction_moscow/sample_submission.csv
./input/real_estate_price_prediction_moscow/test.csv
./input/real_estate_price_prediction_moscow/train.csv

In [3]:
TRAIN_DATASET_PATH = './input/real_estate_price_prediction_moscow/train.csv'
TEST_DATASET_PATH = './input/real_estate_price_prediction_moscow/test.csv'

In [4]:
train_df = pd.read_csv(TRAIN_DATASET_PATH, sep=',')
train_df.head(3)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
1,3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
2,8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850

In [5]:
train_df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

In [6]:
test_df = pd.read_csv(TEST_DATASET_PATH, sep=',')
test_df.head(3)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,4567,44,1.0,36.847630,19.094182,5.0,5,9.0,1970,0.036122,B,B,24,4378,0,1036.0,1,1,B
1,5925,62,1.0,42.493907,42.568133,10.0,7,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A
2,960,27,2.0,59.463678,NaN,9.0,19,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B

In [7]:
# error corection in titles and delete id исправление ошибок
def rename(dfs):
    for df in dfs:
        df.rename(columns={'Helthcare_2': 'Healthcare_2'}, inplace=True)

def drop(dfs):
    for df in dfs:
        df.drop(columns='Id', inplace=True)

rename([train_df, test_df])
drop([train_df, test_df])

train_df.head(3)

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Healthcare_2,Shops_1,Shops_2,Price
0,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
1,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
2,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850

In [10]:
print(f'Strings in train: {train_df.shape[0]}')
print(f'Strings in test: {test_df.shape[0]}')

Strings in train: 10000
Strings in test: 5000

In [19]:
# check the number of columns (train have col=Price --> target)
train_df.shape[1] - test_df.shape[1] == 1

True

In [23]:
train_df.dtypes

DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Healthcare_2       int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

In [26]:
# type conversion
train_df['DistrictId'] = train_df['DistrictId'].astype(str)

# 1. EDA

#### HouseYear

In [28]:
train_df.loc[
    ((train_df['HouseYear'] > 2020) | (train_df['HouseYear'] < 1900)), 'HouseYear'] = int(train_df['HouseYear'].median())

#### Square, LifeSquare

In [ ]:
df.loc[df['Square'] > 300, 'Square'] = df['Square'].median()
df.loc[df['LifeSquare'] > 300, 'LifeSquare'] = df['LifeSquare'].median()

In [ ]:
fig = plt.figure(figsize=(15, 6))
ax1 = fig.add_subplot(111)


x = df['HouseYear'] 
y1 = df['LifeSquare']
y2 = df['Square']

ax1.scatter(x, y1, c='b', alpha=0.5, s=4)
ax1.scatter(x, y2, c='r', alpha=0.5, s=4)
plt.show()

#### Rooms

In [ ]:
a = df['HouseYear'] 
b = df['Rooms']
plt.figure(figsize=(15, 6))
plt.scatter(a, b, s=5)

In [ ]:
district_mean_rooms = df.groupby('DistrictId')[['Rooms', 'Square']].sum()
district_mean_rooms = pd.DataFrame(district_mean_rooms['Square'] / district_mean_rooms['Rooms'])
district_mean_rooms.rename(columns={0: 'MeanValueRooms'}, inplace=True)
df = df.merge(district_mean_rooms, on=['DistrictId'])

#### KitchenSquare

In [ ]:
df.loc[df['KitchenSquare'] > 300, 'KitchenSquare'] = df['KitchenSquare'].median()
a = df['HouseYear'] 
b = df['KitchenSquare']
plt.figure(figsize=(15, 6))
plt.scatter(a, b, s=5)

#### HouseFloor

In [ ]:

df.loc[df['HouseFloor'] == 0, 'HouseFloor'] = df[df['HouseFloor'] == 0]['Floor']
df = df.astype({'HouseFloor': int})

#### Floor

In [ ]:
df.loc[df['Floor'] > df['HouseFloor'], 'Floor'] = df[df['Floor'] > df['HouseFloor']]['HouseFloor']

fig = plt.figure(figsize=(15, 6))
ax2 = fig.add_subplot()


x = df['HouseYear'] 
y1 = df['Floor']
y2 = df['HouseFloor']

ax2.scatter(x, y1, c='b', alpha=0.5, s=4)
ax2.scatter(x, y2, c='r', alpha=0.5, s=4)
plt.show()

## 2. NaN

In [ ]:
df.describe()
# NaN in LifeSquare 10000 - 7887 = 2113
# NaN in Healthcare_1 10000 - 5202 = 4798

#### LifeSquare

Find ratio lifeSquare / Square; (by districts) \
Ratio will use for replace NaN LifeSquare

In [ ]:
# Select rows with normal 'LifeSquare', where LifeSquare <= Square and 'LifeSquare' != NaN
df_ls = df[~(df['LifeSquare'].isna()) | (df['LifeSquare'] <= df['Square'])]
df_ls.shape

In [ ]:
# Create ratio lifeSquare / square (for replace NaN LifeSquare) (by DistrictId)
district_sq_mean = df_ls.groupby('DistrictId').mean()['Square']
district_lsq_mean = df_ls.groupby('DistrictId').mean()['LifeSquare']

k_mean_life_square = district_lsq_mean / district_sq_mean

k_mean_life_square = pd.DataFrame(k_mean_life_square)
k_mean_life_square.rename(columns={0: 'MeanLifeSquare'}, inplace=True)

In [ ]:
df = df.merge(k_mean_life_square, on=['DistrictId'])

In [ ]:
df.loc[(df['LifeSquare'].isna()) | (df['LifeSquare'] > df['Square']), 'LifeSquare'] = \
df.loc[(df['LifeSquare'].isna()) | (df['LifeSquare'] > df['Square']), 'Square'] * df.loc[(df['LifeSquare'].isna()) | (df['LifeSquare'] > df['Square']), 'MeanLifeSquare']

#### Healthcare_1

In [ ]:
df.loc[df['Healthcare_1'].isna(), 'Healthcare_1'] = df['Healthcare_1'].median()

In [ ]:
fig, ax = plt.subplots(nrows=1, ncols=1)
ax.set_xscale('linear')
ax.xaxis.set_major_formatter(StrMethodFormatter('{x:,.0f}'))
ax.scatter(df['Price'], df['Healthcare_1'], s=4)
plt.show()