In [1]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:/Users/grayni/Desktop/tr_py/SQL/bigquery-362520-0ed0e93eb083.json'

In [2]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex3 import *
print("Setup Complete")

Setup Complete

In [3]:
from google.cloud import bigquery

# Client
client = bigquery.Client()

# Reference dataset
dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')

# Fetch dataset
dataset = client.get_dataset(dataset_ref)

# Reference table
table_ref = dataset_ref.table('comments')

# Fetch table
table = client.get_table(table_ref)

# Show 5 rows
client.list_rows(table, max_results=5).to_dataframe()

,id,by,author,time,time_ts,text,parent,deleted,dead,ranking
0,9734136,None,None,1434565400,2015-06-17 18:23:20+00:00,None,9733698,True,<NA>,0
1,4921158,None,None,1355496966,2012-12-14 14:56:06+00:00,None,4921100,True,<NA>,0
2,7500568,None,None,1396261158,2014-03-31 10:19:18+00:00,None,7499385,True,<NA>,0
3,8909635,None,None,1421627275,2015-01-19 00:27:55+00:00,None,8901135,True,<NA>,0
4,9256463,None,None,1427204705,2015-03-24 13:45:05+00:00,None,9256346,True,<NA>,0

In [10]:
prolific_commenters_query = """
                           SELECT author, COUNT(1) AS NumPosts
                           FROM `bigquery-public-data.hacker_news.comments`
                           GROUP BY author
                           HAVING COUNT(1) > 10000
                           """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(prolific_commenters_query, job_config=safe_config)

prolific_commenters = query_job.to_dataframe()

print(prolific_commenters.head())

q_1.check()

    author  NumPosts
0    DanBC     12902
1   davidw     10764
2    sp332     10882
3  rayiner     11080
4  rbanffy     10557

Correct

In [15]:
num_deleted_posts_query = """
                          SELECT deleted, COUNT(1) AS deleted_posts
                          FROM `bigquery-public-data.hacker_news.comments`
                          GROUP BY deleted
                          HAVING deleted=True
                          """

In [21]:
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(num_deleted_posts_query, safe_config)
num_deleted_posts = int(query_job.to_dataframe()['deleted_posts'])

q_2.check()

Correct