In [2]:
import numpy as np
import pandas as pd

In [3]:
def one_shift(drum):
    drum.insert(0, drum.pop(-1))
    return drum

In [41]:
drum_with_bullets = [1, 1, 0, 0, 0, 0]

In [42]:
print(one_shift(drum_with_bullets))
print(one_shift(drum_with_bullets))

[0, 1, 1, 0, 0, 0]
[0, 0, 1, 1, 0, 0]

In [6]:
def spin_drum(drum):
    n = np.random.randint(1, 7)
    for i in range(n):
        drum = one_shift(drum)
    return drum

In [43]:
spin_drum(drum_with_bullets)

[1, 1, 0, 0, 0, 0]

In [10]:
pd.Series([spin_drum([0, 1, 1, 0, 0, 0]) for _ in range(1000000)]).value_counts(normalize=True)

[0, 0, 1, 1, 0, 0]    0.166912
[1, 1, 0, 0, 0, 0]    0.166753
[1, 0, 0, 0, 0, 1]    0.166639
[0, 1, 1, 0, 0, 0]    0.166630
[0, 0, 0, 1, 1, 0]    0.166606
[0, 0, 0, 0, 1, 1]    0.166460
dtype: float64

In [36]:
n = 10000
result = []

for _ in range(n):
    # Loading the revolver
    drum = [0, 0, 1, 1, 0, 0]

    # First player rotate drum
    drum = spin_drum(drum)

    # First player shooting
    drum = one_shift(drum)
    p1 = drum[0]

    drum[0] = 0

    # Second player rotate drum
    drum = spin_drum(drum)

    # Second player shoot
    drum = one_shift(drum)
    p2 = drum[0]
    drum[0] = 0

    result.append((p1, p2))

t = pd.DataFrame(result, columns=['p1', 'p2'])

In [37]:
t.value_counts()

p1  p2
0   0     4424
1   0     2807
0   1     2223
1   1      546
dtype: int64

In [38]:
# if player 2 rotate drum
t.groupby(['p1'])['p2'].agg(['count', 'mean'])

    count      mean
p1
0    6647  0.334437
1    3353  0.162839

In [39]:
n = 10000
result = []

for _ in range(n):
    # Loading the revolver
    drum = [0, 0, 1, 1, 0, 0]

    # First player rotate drum
    drum = spin_drum(drum)

    # First player shooting
    drum = one_shift(drum)
    p1 = drum[0]

    drum[0] = 0

    # Second player shoot
    drum = one_shift(drum)
    p2 = drum[0]
    drum[0] = 0

    result.append((p1, p2))

t = pd.DataFrame(result, columns=['p1', 'p2'])

In [40]:
# if player 2 not rotate drum
t.groupby(['p1'])['p2'].agg(['count', 'mean'])

    count      mean
p1
0    6671  0.252736
1    3329  0.504356