In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import os

%matplotlib inline

for dirname, _, filenames in os.walk('./input/titanic/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./input/titanic/gender_submission.csv
./input/titanic/test.csv
./input/titanic/train.csv

In [124]:
train_df = pd.read_csv('./input/titanic/train.csv')
test_df = pd.read_csv('./input/titanic/test.csv')

#### Ratio: Zeros / all cells

In [117]:
x = np.array([[1, 2, 2], [2, 4, 5], [5, 5, 2]])
x

array([[1, 2, 2],
       [2, 4, 5],
       [5, 5, 2]])

In [119]:
mini = pd.DataFrame({'value_1': x[0], 'value_2': x[1], 'value_3': x[2]}, columns=['value_1', 'value_2', 'value_3'])
mini

   value_1  value_2  value_3
0        1        2        5
1        2        4        5
2        2        5        2

In [125]:
# For every index find needed value (e.g. 2)
# neen value in get -> param_1; param_2 -> value-replacement, if value not found in row
mini.apply(lambda x: x.value_counts().get(4, 'value'), axis=1)

0    value
1        1
2    value
dtype: object