In [5]:
import numpy as np
import pandas as pd

from scipy.stats import mode

import warnings
warnings.filterwarnings('ignore')

In [6]:
DATASET_PATH = './csv/housing.csv'
PREPARED_DATASET_PATH = './csv/housing_prepared.csv'

In [7]:
df = pd.read_csv(DATASET_PATH, sep=',')
df.head(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,3

In [8]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
id                      int64
dtype: object

In [10]:
type(df.longitude)

pandas.core.series.Series

In [13]:
df['id'].dtype

dtype('int64')

In [14]:
df['id'].values  # Numpy array -> fast computed

array([    0,     1,     2, ..., 20637, 20638, 20639], dtype=int64)

In [15]:
type(df['id'].values)

numpy.ndarray

In [16]:
df['id'] = df['id'].astype(str)
df['id'].dtype

dtype('O')

In [18]:
df['total_rooms'] = df['total_rooms'].astype('int16')
df['total_rooms'].dtype

dtype('int16')

#### Точный расчет использования оперативной памяти

In [19]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  19918 non-null  float64
 3   total_rooms         20640 non-null  int16
 4   total_bedrooms      20433 non-null  float64
 5   population          20041 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
 10  id                  20640 non-null  object
dtypes: float64(8), int16(1), object(2)
memory usage: 3.8 MB