In [1]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'C:/Users/grayni/Desktop/tr_py/SQL/bigquery-362520-0ed0e93eb083.json'

In [2]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex4 import *
print("Setup Complete")

Setup Complete

In [4]:
from google.cloud import bigquery

client = bigquery.Client()

dataset_ref = client.dataset('world_bank_intl_education', project='bigquery-public-data')

dataset = client.get_dataset(dataset_ref)

table_ref = dataset_ref.table('international_education')

table = client.get_table(table_ref)

client.list_rows(table, max_results=5).to_dataframe()

,country_name,country_code,indicator_name,indicator_code,value,year
0,Chad,TCD,"Enrolment in lower secondary education, both s...",UIS.E.2,158735.0,2003
1,Chad,TCD,"Enrolment in upper secondary education, both s...",UIS.E.3,101428.0,2008
2,Chad,TCD,"Enrolment in upper secondary education, both s...",UIS.E.3,68809.0,2006
3,Chad,TCD,"Enrolment in upper secondary education, both s...",UIS.E.3,139374.0,2011
4,Chad,TCD,"Repeaters in primary education, all grades, bo...",UIS.R.1,79342.0,1977

In [52]:
country_spend_pct_query = """
                          SELECT country_name, AVG(value) AS avg_ed_spending_pct
                          FROM `bigquery-public-data.world_bank_intl_education.international_education`
                          WHERE indicator_code='SE.XPD.TOTL.GD.ZS' AND year BETWEEN 2010 AND 2017
                          GROUP BY country_name
                          ORDER BY avg_ed_spending_pct DESC
                          """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
country_spend_pct_query_job = client.query(country_spend_pct_query, job_config=safe_config)

country_spending_results = country_spend_pct_query_job.to_dataframe()

print(country_spending_results.head())

q_1.check()

            country_name  avg_ed_spending_pct
0                   Cuba            12.837270
1  Micronesia, Fed. Sts.            12.467750
2        Solomon Islands            10.001080
3                Moldova             8.372153
4                Namibia             8.349610

Correct

In [97]:
code_count_query = """
                   SELECT indicator_name, indicator_code, COUNT(1) AS num_rows 
                   FROM `bigquery-public-data.world_bank_intl_education.international_education`
                   WHERE year=2016
                   GROUP BY indicator_name, indicator_code
                   HAVING COUNT(1) >= 175
                   ORDER BY COUNT(1) DESC
                   """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
code_count_query_job = client.query(code_count_query, job_config=safe_config)

code_count_results = code_count_query_job.to_dataframe()

print(code_count_results.head())

q_2.check()

                    indicator_name     indicator_code  num_rows
0     Population growth (annual %)        SP.POP.GROW       232
1                Population, total        SP.POP.TOTL       232
2  Internet users (per 100 people)     IT.NET.USER.P2       223
3    Population, ages 0-14, female  SP.POP.0014.FE.IN       213
4                 Population, male  SP.POP.TOTL.MA.IN       213

Correct